.main {
    background-color: #f7f7f7;
    color: black;
}
.stButton button {
    border: 1px solid black;
    background-color: #004c66;
    color: white;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #f9f9f9;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Position the tooltip above the icon */
    left: 400%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #ddd;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}   
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.125em;
    display: inline-block;
}